<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Data Vis Plots</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-9">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">New SP</span>
          </div>
          <input type="text" class="form-control" id="new-name" placeholder="New SP" aria-label="new service provider" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-lg-3">
        <button type="submit" id="submit-new-sp" class="btn btn-primary">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">SPs</label>
          </div>
          <select class="custom-select" id="sp">
              <option selected>Choose SP</option>
              {{#each sps}}
                <option value={{this.id}}>{{this.Name}}</option>
              {{/each}}
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
          </div>
          <input type="text" class="form-control" id="amount" placeholder="Amount" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Status</label>
          </div>
          <select class="custom-select" id="status">
              <option selected value="Queue" style="color: orange;">Queue</option>
              <option value="Posted" style="color: green;">Post</option>
              <option value="Failed" style="color: red;">Fail</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
        <button id="sfq-pie" class="btn btn-danger">Chart 1</button>
      </div>
      <div class="col-md-3">
        <button id="chart-button-2" class="btn btn-secondary">Chart 2</button>
      </div>
      <div class="col-md-3">
        <button id="chart-button-3" class="btn btn-primary">Chart 3</button>
      </div>
      <div class="col-md-3">
        <button id="c" class="btn btn-success">Chart 4</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="chart">
          <!-- Plotly chart will be drawn inside this DIV -->
        </div>
      </div>
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>